/* import starts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */
/* import ends */

/* variables */
:root{
    --color-white: hsl(252,30%, 100%);
    --color-light: hsl(252,30%, 95%);
    --color-gray: hsl(252,15%, 65%);
    --color-primary: #0d6efd;;
    --color-secondary: hsl(252,100%, 90%);
    --color-success: hsl(120,95%, 65%);
    --color-danger: hsl(0,95%, 65%);
    --color-dark: hsl(252,30%, 17%);    
    --color-black: hsl(252,30%, 10%);

    }
/* variables */


/* reset css starts*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css ends==========================================*/

section{
	margin: 50px 0;
}

/* navigation starts======================================= */
#nav-bar{
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 1;
	
}
#logo{
	border: 2px solid ;
	padding: 5px;
}
.nav-lnk{
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 0.8rem;
	margin: 0 5px;
	cursor:pointer;
	
}
.nav-lnk:hover, #mybtn:hover{
	color: rgb(138, 138, 138);
}
#navbtn{
	display: none;
}
/* navigation ends====================================== */

/* hero area starts========================================= */

#particles-js{
	position: relative;
	height: 130vh;
	background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.3)) ,url(assets/images/Sunset+in+the+Caucasus+Mountains_07d94156ab5f4c768e266a1d7acfa03c.jpg), no-repeat;
}
#hero-txt{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}
#hero-hdr{
	font-size: 4rem;
}
#mybtn{
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	border: 3px solid var(--color-primary);
	border-radius: 20px;
	font-weight: 500;
	
}
/* hero area ends========================================= */

/* responsiv  starts============================ */
@media (max-width: 650px){
	.nav-lnks{
		display: none;
	}
	#navbtn{
		display: block;
		cursor: pointer;
		position: fixed;
		bottom: 25px;
		right: 25px;
		text-shadow: 0 0 2px black;
	}
	.side-nav{
		background: linear-gradient(rgba(0, 0, 0, 1),rgba(0,0,0,0.3));
		display: flex;
		flex-direction: column;
		padding: 5px;
		position: fixed;
		right:0;
		bottom: 75px;
		border-radius: 5px 0 0 5px;
		padding: 10px 0;
		
		
	}
	.side-nav::before{
		content: "";
		width: 20px;
		height: 20px;
		background: rgba(0,0,0,0.3);
		position: relative;
		bottom: -294px;
		left: 105px;
		transform: rotate(45deg);
	}
	.side-nav a{
		padding: 10px 30px;
		
	}
	
	#particles-js{		
		height: 100vh;		
	}


}
/* responsive ends============================== */

/* hero footer starts============================ */

.hero-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}
.hero-footer .hero-footer-box{
	padding: 20px;

	
	
}
.hero-footer .hero-footer-box:nth-child(odd){
	background: rgba(0,0,0,0.9);
}
.hero-footer .hero-footer-box:nth-child(even){
	background: rgba(0,0,25,0.8);
}
.hero-footer .hero-footer-box i{
	font-size: 3rem;
	padding-bottom: 8px;
	
}
.hero-footer .hero-footer-box p{
	font-size: 0.7rem;
}
@media (max-width: 900px){
	#particles-js .hero-footer{
		display: none !important;
	}
}
/* hero footer ends=========================== */
/* our services starts--------------------- */
#our-services{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/images/XbrmJfY.webp);
	color:white;
	padding: 5rem;
	text-align: center;
}

.our-services-card p{
	font-size: 0.7rem;
}
/* our services ends--------------------- */